<br />
<mat-card-title>
  <h1 class="title accent">{{ title }}</h1>
</mat-card-title>
<br />
<mat-card-content class="mat-wrapper">
  <!-- left card -->
  <mat-card class="mat-card mat-elevation-z8 center">
    <br />
    <mat-card-title> Summary </mat-card-title>
    <br />
    <br />
    <mat-card-content>
      <p>
        Ravenclaw was one of the four Houses of Hogwarts School of Witchcraft
        and Wizardry. Its founder was the medieval witch Rowena Ravenclaw.
      </p>
      <p>
        Members of this house were characterised by their wit, learning, and
        wisdom. The emblematic animal symbol was an eagle, and blue and bronze
        were its colours.
      </p>
      <p>
        The Head of Ravenclaw was Filius Flitwick, and the House ghost was the
        Grey Lady, real name Helena Ravenclaw, daughter of Rowena.
      </p>
    </mat-card-content>
    <br />
  </mat-card>
  <!-- right card -->
  <mat-card class="mat-card mat-elevation-z8 center">
    <br />
    <mat-card-title> History </mat-card-title>
    <br />
    <br />
    <br />

    <mat-card-content>
      <div class="circle">
        <div id="ravenclaw"></div>
      </div>
    </mat-card-content>
    <br />
    <br />
  </mat-card>
</mat-card-content>
