<br />
<mat-card-title>
  <h1 class="title accent">{{ title }}</h1>
</mat-card-title>
<br />
<mat-card-content class="mat-wrapper">
  <!-- left card -->
  <mat-card class="mat-card mat-elevation-z8 center">
    <br />
    <mat-card-title>Connection</mat-card-title>
    <br />
    <mat-card-content>
      <div class="circle">
        <mat-icon color="accent" class="icon">phonelink</mat-icon>
      </div>
      <br />
      <br />
      <p>Cell: 123-456-7890</p>
      <p>Business: 999-888-1234</p>
      <p>Fax: 800-111-0000</p>
    </mat-card-content>
    <br />
    <br />
    <br />
  </mat-card>

  <!-- right card -->
  <mat-card class="mat-card mat-elevation-z8 center">
    <br />
    <mat-card-title>Location</mat-card-title>
    <br />
    <mat-card-content>
      <div class="circle">
        <mat-icon class="icon" color="accent">map</mat-icon>
      </div>
      <br />
      <br />
      <p>123 Street Road</p>
      <p>City, State 12345</p>
      <p>USA</p>
    </mat-card-content>
  </mat-card>
</mat-card-content>
