<br />
<mat-card-title>
  <h1 class="title">{{ title }}</h1>
</mat-card-title>
<br />
<mat-card-content class="mat-wrapper">
  <!-- left card -->
  <mat-card class="mat-card mat-elevation-z8">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
      voluptas dolor, blanditiis nam aspernatur eaque facilis asperiores odit
      rem! Placeat blanditiis, illo quia harum libero adipisci illum facere
      labore autem!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
      voluptas dolor, blanditiis nam aspernatur eaque facilis asperiores odit
      rem! Placeat blanditiis, illo quia harum libero adipisci illum facere
      labore autem!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
      voluptas dolor, blanditiis nam aspernatur eaque facilis asperiores odit
      rem! Placeat blanditiis, illo quia harum libero adipisci illum facere
      labore autem!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
      voluptas dolor, blanditiis nam aspernatur eaque facilis asperiores odit
      rem! Placeat blanditiis, illo quia harum libero adipisci illum facere
      labore autem!
    </p>
    <button mat-raised-button color="accent" class="mat-elevation-z8">
      Calculate
    </button>
  </mat-card>
  <!-- right card -->
  <mat-card class="mat-card mat-elevation-z8">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
      voluptas dolor, blanditiis nam aspernatur eaque facilis asperiores odit
      rem! Placeat blanditiis, illo quia harum libero adipisci illum facere
      labore autem!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
      voluptas dolor, blanditiis nam aspernatur eaque facilis asperiores odit
      rem! Placeat blanditiis, illo quia harum libero adipisci illum facere
      labore autem!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
      voluptas dolor, blanditiis nam aspernatur eaque facilis asperiores odit
      rem! Placeat blanditiis, illo quia harum libero adipisci illum facere
      labore autem!
    </p>
  </mat-card>
</mat-card-content>
