.background {
  position: relative;
  background-color: grey;
  min-height: 100vh;
}

.main-container {
  width: 80%;
  min-height: 60vh;
  margin: auto;
  border-radius: 10px;
  background-color: #1a237e;
}
.spacing {
  flex: 1 1 auto;
}
