.background {
  position: relative;
  background-color: grey;
  height: 100vh;
}

.main-container {
  width: 80%;
  height: 70vh;
  margin: auto;
  border-radius: 10px;
  background-color: #1a237e;
}
